.prompt{
    color: #999;
    font-size: 30px;
    margin-left:71px;
}

#draft,#publish,#return{
    float: right;
    margin-left: 30px;
    cursor: pointer;
}

.war{
    margin:15px 70px 15px 0px;
}