.content {
    width: 800px;
    height: 900px;
    background-color: #9F9F9F;
    margin: 20px 0 0 120px;
    float: left;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);*/
}

.right {
    float: right;

}
body{
    background-color: #eeeeee;
}
.category {
    width: 300px;
    height: 400px;
    background-color: #1AA094;
    margin: 10px 60px 20px 0;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);*/
}

.label {
    width: 300px;
    height: 400px;
    background-color: #a0441d;
    margin: 0 60px 20px 0;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);*/

}

.comment {
    width: 300px;
    height: 400px;
    background-color: #a02c41;
    margin: 0 0px 20px 0;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);*/
}