div, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, input, em, strong, span, a, label, form {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1E9FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);
}

.right {
    float: right;
    margin: 10px 150px;
}
.royalblue{
    background-color: #59b0ff;
}