#iframe {
    /*background-color: #01AAED;*/
    width: 100%;
    height: calc(100% - 100px);
}

#tab {
    margin-left: -15px;
}

.topNavigate {
    background-color: #393D49;
    width: 100%;
    height: 60px;
    /*添加边距*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.2);

}

.leftNavigate {
    float: left;
    height: calc(100% - 60px);
}

.site-demo-nav {
    height: 100%;
}

.layui-this {
    background-color: #009688;
}

.other {
    float: right;
    margin-right: 40px
}
